<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinet.pushtest.mapper.ReceptionRecordsMapper">

    <select id="simpleQuery" resultType="java.util.Map">
        select sum(session_complete) as 会话完成数,
               sum(queue_abort)      as 排队放弃数,
               avg(queue_duration)   as 平均排队时长,
               avg(session_duration) as 平均会话时长
        from
            session_event_new
        where
            enterprise_id = 8001678
          and
            qno in (#{qno});
    </select>

    <select id="complexQuery" resultType="java.lang.Long">
        select sum(session_complete) as 会话完成数,
               sum(queue_abort)      as 排队放弃数,
               avg(queue_duration)   as 平均排队时长,
               avg(session_duration) as 平均会话时长
        from session_event_new
        where  time >= now() - interval '1 d' and enterprise_id = 8001678
          and qno in 
          <foreach collection="qnos" item="qno" open="(" separator="," close=")">
            #{qno}
          </foreach>
          and cno in 
          <foreach collection="cnos" item="cno" open="(" separator="," close=")">
            #{cno}
          </foreach>
    </select>
</mapper>
